// Code generated by Fern. DO NOT EDIT.

package proxy

import (
	context "context"

	polytomic "github.com/polytomic/polytomic-go/v25"
	connections "github.com/polytomic/polytomic-go/v25/connections"
	core "github.com/polytomic/polytomic-go/v25/core"
	internal "github.com/polytomic/polytomic-go/v25/internal"
	option "github.com/polytomic/polytomic-go/v25/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Version == nil {
		versionDefault := "2025-09-18"
		options.Version = &versionDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Proxies an HTTP request to a connection's underlying API using the connection's stored credentials, subject to per-connection rate limits and size caps.
//
// This endpoint is intended for controlled passthrough use, not as a general
// replacement for Polytomic's modeled endpoints. The request is executed with the
// connection's stored credentials and inherited base URL, headers, and query
// parameters.
//
// Before building requests dynamically, call
// [`GET /api/connections/{id}/proxy/info`](../../../../api-reference/connections/get-proxy-info)
// to inspect the inherited base URL, blocked headers, accepted body types, and
// size and rate limits.
//
// ## Important behavior
//
//   - For connections that expose more than one API (listed in `apis` in the proxy
//     info response), set `request.api` to the name of the API to call. Requests
//     without `request.api` go to the default API. `request.api` is rejected for
//     connections that expose a single API.
//   - `request.path` must be relative and start with `/`.
//   - Use either `request.query` or `request.rawQuery`, not both.
//   - Caller-supplied headers are merged with inherited headers, but inherited auth
//     headers cannot be overridden.
//   - The proxy strips a fixed set of request and response headers for safety.
//   - Response bodies larger than the configured maximum are truncated, and
//     `truncated` is set to `true`.
//   - A `429` means Polytomic's proxy rate limit was reached, or the connection's
//     upstream quota, which the proxy shares with the connection's syncs, is
//     exhausted.
//
// To run a `GET` request asynchronously, set `async` to `true`. The initial
// response returns `status: 202`, `jobId`, `jobStatus`, and `jobUrl`. Poll
// [`GET /api/jobs/{type}/{id}`](../../../../api-reference/jobs/get-job) with
// `type=connectionproxy` and the returned `jobId` until the job is complete. The
// completed job result includes the upstream `status`, sanitized `headers`,
// `contentType`, `contentLength`, `latencyMs`, and a short-lived
// `bodyDownloadUrl` for the upstream response body.
//
// The response includes `proxyCallId`, which you can use to correlate the call
// with audit logs.
//
// Example:
//
//	request := &connections.ExecuteConnectionProxyRequest{
//	    Request: &polytomic.ConnectionProxyCall{
//	        Method: "GET",
//	        Path: "/v1/objects",
//	    },
//	}
//	client.Connections.Proxy.ExecuteProxy(
//	    context.TODO(),
//	    "248df4b7-aa70-47b8-a036-33ac447e668d",
//	    request,
//	)
func (c *Client) ExecuteProxy(
	ctx context.Context,
	// Unique identifier of the connection to proxy the request through.
	id string,
	request *connections.ExecuteConnectionProxyRequest,
	opts ...option.IdempotentRequestOption,
) (*polytomic.ExecuteConnectionProxyEnvelope, error) {
	response, err := c.WithRawResponse.ExecuteProxy(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the proxy contract for a connection.
//
// Use this endpoint before calling
// [`POST /api/connections/{id}/proxy`](../../../../../api-reference/connections/execute-proxy)
// when you need to build requests programmatically. The response shows:
//
// - the inherited base URL that all proxied requests are sent to
// - locked headers and query parameters that are attached automatically
// - blocked request and response headers
// - allowed HTTP methods and body shapes
// - timeout, rate-limit, and payload-size limits
//
// Some connections reach more than one upstream API, each with its own base URL
// and quota. For these, the response includes `apis`: one entry per API with its
// `name`, `description`, whether it is the `default`, and its own
// `inheritedBase`. The top-level `inheritedBase` describes the default API.
// Connections with a single API omit `apis`.
//
// Sensitive inherited header and query values are redacted in the response. The
// contract is still useful for discovering which keys are fixed by the
// connection, even though their raw values are not exposed.
//
// Example:
//
//	client.Connections.Proxy.GetProxyInfo(
//	    context.TODO(),
//	    "248df4b7-aa70-47b8-a036-33ac447e668d",
//	)
func (c *Client) GetProxyInfo(
	ctx context.Context,
	// Unique identifier of the connection whose proxy contract should be returned.
	id string,
	opts ...option.RequestOption,
) (*polytomic.GetConnectionProxyInfoEnvelope, error) {
	response, err := c.WithRawResponse.GetProxyInfo(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns whether a connection can be used through the Connection Proxy API.
//
// The setting is stored on the parent connection. When you request settings for a
// shared connection, the response includes both the requested `connectionId` and the
// `parentConnectionId` that controls proxy access. For non-shared connections,
// `parentConnectionId` is omitted.
//
// Example:
//
//	client.Connections.Proxy.GetProxySettings(
//	    context.TODO(),
//	    "248df4b7-aa70-47b8-a036-33ac447e668d",
//	)
func (c *Client) GetProxySettings(
	ctx context.Context,
	// Unique identifier of the connection whose proxy settings should be returned.
	id string,
	opts ...option.RequestOption,
) (*polytomic.ConnectionProxySettingsEnvelope, error) {
	response, err := c.WithRawResponse.GetProxySettings(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Enables or disables use of a connection through the Connection Proxy API.
//
// The setting is stored on the parent connection. To update proxy access for a
// shared connection, the caller must have edit permission for the parent
// connection.
//
// Enabling proxy access requires a backend that supports the Connection Proxy API.
// If the connection backend is unsupported, the request returns `400 Bad Request`.
// Disabling proxy access is allowed for any connection the caller can edit.
//
// Setting `enabled` to `false` prevents proxy calls for the connection.
//
// Example:
//
//	request := &connections.UpdateConnectionProxySettingsRequest{
//	    Enabled: true,
//	}
//	client.Connections.Proxy.UpdateProxySettings(
//	    context.TODO(),
//	    "248df4b7-aa70-47b8-a036-33ac447e668d",
//	    request,
//	)
func (c *Client) UpdateProxySettings(
	ctx context.Context,
	// Unique identifier of the connection whose proxy settings should be updated.
	id string,
	request *connections.UpdateConnectionProxySettingsRequest,
	opts ...option.IdempotentRequestOption,
) (*polytomic.ConnectionProxySettingsEnvelope, error) {
	response, err := c.WithRawResponse.UpdateProxySettings(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
