// Code generated by Fern. DO NOT EDIT.

package sharedconnections

import (
	context "context"
	http "net/http"

	polytomic "github.com/polytomic/polytomic-go/v25"
	connections "github.com/polytomic/polytomic-go/v25/connections"
	core "github.com/polytomic/polytomic-go/v25/core"
	internal "github.com/polytomic/polytomic-go/v25/internal"
	option "github.com/polytomic/polytomic-go/v25/option"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

func (r *RawClient) ListSharedConnections(
	ctx context.Context,
	// Unique identifier of the parent connection whose shared copies should be listed.
	id string,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.ConnectionListResponseEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/connections/%v/shared",
		id,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *polytomic.ConnectionListResponseEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(connections.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.ConnectionListResponseEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) ListSharedConnectionsForPartner(
	ctx context.Context,
	// Unique identifier of the organization that owns the parent connection.
	orgID string,
	// Unique identifier of the parent connection whose shared copies should be listed.
	connectionID string,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.ConnectionListResponseEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/organizations/%v/connections/%v/shared",
		orgID,
		connectionID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *polytomic.ConnectionListResponseEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(connections.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.ConnectionListResponseEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) CreateSharedConnection(
	ctx context.Context,
	// Unique identifier of the organization that owns the parent connection.
	orgID string,
	// Unique identifier of the parent connection to share.
	connectionID string,
	request *connections.PartnerCreateSharedConnectionRequestSchema,
	opts ...option.IdempotentRequestOption,
) (*core.Response[*polytomic.CreateSharedConnectionResponseEnvelope], error) {
	options := core.NewIdempotentRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/organizations/%v/connections/%v/shared",
		orgID,
		connectionID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	var response *polytomic.CreateSharedConnectionResponseEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(connections.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.CreateSharedConnectionResponseEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
