// This file was auto-generated by Fern from our API Definition.

package executions

import (
	context "context"
	polytomicgo "github.com/polytomic/polytomic-go"
	bulksync "github.com/polytomic/polytomic-go/bulksync"
	core "github.com/polytomic/polytomic-go/core"
	internal "github.com/polytomic/polytomic-go/internal"
	option "github.com/polytomic/polytomic-go/option"
	http "net/http"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Returns a concise per-schema status for one or more bulk syncs.
//
// This endpoint is a summary view, not an execution-history view. Each schema is
// represented at most once with its most recent execution status, and running
// executions are preferred over older terminal ones.
//
// Use this endpoint when you want a dashboard-style answer to "what is each sync
// doing now?" If you need the full execution history or a single execution's
// details, use [`GET /api/bulk/syncs/{id}/executions`](../../../../api-reference/bulk-sync/executions/list) or
// [`GET /api/bulk/syncs/{id}/executions/{exec_id}`](../../../../api-reference/bulk-sync/executions/get) instead.
//
// Setting `all=true` or `active=true` ignores any explicit `sync_id` filters and
// expands the request to the caller's organization scope.
func (c *Client) ListStatus(
	ctx context.Context,
	request *bulksync.ExecutionsListStatusRequest,
	opts ...option.RequestOption,
) (*polytomicgo.ListBulkSyncExecutionStatusEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := baseURL + "/api/bulk/syncs/status"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ListBulkSyncExecutionStatusEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Lists executions for a bulk sync.
//
// Results are ordered by start time descending by default. When more results are
// available, the response includes an opaque `pagination.next_page_token`; pass it
// back as the `page_token` query parameter to retrieve the next page. The `limit`
// parameter is optional, and the maximum page size is 100 executions.
//
// Use `only_terminal=true` to return only finished executions. In that mode,
// executions are ordered by `updated_at` so recently completed runs appear first.
//
// Use `ascending=true` to walk forward from the oldest execution instead of
// starting with the newest execution.
//
// For the full details of a single run — including per-schema execution status —
// use [`GET /api/bulk/syncs/{id}/executions/{exec_id}`](../../../../../api-reference/bulk-sync/executions/get).
func (c *Client) List(
	ctx context.Context,
	// Unique identifier of the bulk sync.
	id string,
	request *bulksync.ExecutionsListRequest,
	opts ...option.RequestOption,
) (*polytomicgo.ListBulkSyncExecutionsEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/bulk/syncs/%v/executions",
		id,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ListBulkSyncExecutionsEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns a single bulk sync execution, including per-schema execution status.
//
// The response includes a breakdown of each schema (table or object) that
// participated in the execution, with its individual status, row counts, and any
// error details. This makes it suitable for diagnosing partial failures where
// some schemas succeeded while others did not.
func (c *Client) Get(
	ctx context.Context,
	// Unique identifier of the bulk sync.
	id string,
	// Unique identifier of the execution.
	execId string,
	opts ...option.RequestOption,
) (*polytomicgo.BulkSyncExecutionEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/bulk/syncs/%v/executions/%v",
		id,
		execId,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.BulkSyncExecutionEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Requests cancellation of a specific bulk sync execution.
//
// Cancellation is asynchronous. A successful response means the cancellation
// signal has been queued; the execution continues to run until the signal is
// processed. Poll `GET /api/bulk/syncs/{id}/executions/{exec_id}` until the
// execution reaches a terminal state (`completed`, `canceled`, or `failed`) to
// confirm cancellation has taken effect.
func (c *Client) Cancel(
	ctx context.Context,
	// The bulk sync ID.
	id string,
	// The execution ID to cancel.
	execId string,
	opts ...option.RequestOption,
) (*polytomicgo.CancelBulkSyncResponseEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/bulk/syncs/%v/executions/%v/cancel",
		id,
		execId,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.CancelBulkSyncResponseEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns signed URLs for the log files produced by a single bulk sync execution.
//
// Each URL in the response is pre-signed and grants temporary read access to the
// corresponding log file. URLs expire after a short period; if you need to access
// a file after the URL has expired, call this endpoint again to obtain a fresh set
// of signed URLs.
//
// > 📘 To export logs asynchronously to a destination of your choice, use
// > [`POST /api/bulk/syncs/{sync_id}/executions/{execution_id}/logs/export`](../../../../../../../api-reference/bulk-sync/executions/export-logs)
// > instead.
func (c *Client) GetLogs(
	ctx context.Context,
	// Unique identifier of the bulk sync.
	syncId string,
	// Unique identifier of the execution whose log files should be listed.
	executionId string,
	opts ...option.RequestOption,
) (*polytomicgo.V4BulkSyncExecutionLogsEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/bulk/syncs/%v/executions/%v/logs",
		syncId,
		executionId,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.V4BulkSyncExecutionLogsEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Starts an asynchronous job that packages the log files for a single bulk sync execution into a downloadable archive.
//
// > 📘 Log export is asynchronous
// >
// > This endpoint starts a background job that packages an execution's log
// > files into a downloadable archive. The first call typically returns a
// > `job` descriptor instead of a completed result. Poll
// > [`GET /api/jobs/exportlogs/{id}`](../../../../../../../../api-reference/jobs/get)
// > with the returned `job_id` until `status` is `done`; the final response
// > contains a signed `url` that can be used to download the archive.
// >
// > Set `notify=true` to also email the requesting user when the archive is
// > ready.
func (c *Client) ExportLogs(
	ctx context.Context,
	// Unique identifier of the bulk sync.
	syncId string,
	// Unique identifier of the execution whose logs should be exported.
	executionId string,
	request *bulksync.ExecutionsExportLogsRequest,
	opts ...option.RequestOption,
) (*polytomicgo.V4ExportSyncLogsEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/bulk/syncs/%v/executions/%v/logs/export",
		syncId,
		executionId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &polytomicgo.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.V4ExportSyncLogsEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
