// Code generated by Fern. DO NOT EDIT.

package jobs

import (
	context "context"
	http "net/http"

	polytomic "github.com/polytomic/polytomic-go/v24"
	core "github.com/polytomic/polytomic-go/v24/core"
	internal "github.com/polytomic/polytomic-go/v24/internal"
	option "github.com/polytomic/polytomic-go/v24/option"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

func (r *RawClient) Get(
	ctx context.Context,
	// Job type. One of: createmodel, updatemodel, previewmodel, samplemodel, exportlogs.
	type_ string,
	// Unique identifier of the job (usually returned by whichever endpoint started the job).
	id string,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.V2JobResponseEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/jobs/%v/%v",
		type_,
		id,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *polytomic.V2JobResponseEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(polytomic.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.V2JobResponseEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
