// This file was auto-generated by Fern from our API Definition.

package client

import (
	context "context"
	polytomicgo "github.com/polytomic/polytomic-go"
	core "github.com/polytomic/polytomic-go/core"
	internal "github.com/polytomic/polytomic-go/internal"
	executions "github.com/polytomic/polytomic-go/modelsync/executions"
	targets "github.com/polytomic/polytomic-go/modelsync/targets"
	option "github.com/polytomic/polytomic-go/option"
	http "net/http"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header

	Targets    *targets.Client
	Executions *executions.Client
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header:     options.ToHeader(),
		Targets:    targets.NewClient(opts...),
		Executions: executions.NewClient(opts...),
	}
}

// Describes the source configuration available on a connection for use as a model sync source.
//
// Use this endpoint before creating a model to understand what configuration is
// available. Once you have a configuration, resolve the fields available for
// sync mapping with
// [`GET /api/connections/{id}/modelsync/source/fields`](../../../../../api-reference/model-sync/get-source-fields).
func (c *Client) GetSource(
	ctx context.Context,
	// Unique identifier of the connection.
	id string,
	request *polytomicgo.ModelSyncGetSourceRequest,
	opts ...option.RequestOption,
) (*polytomicgo.GetModelSyncSourceMetaEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/connections/%v/modelsync/source",
		id,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &polytomicgo.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.GetModelSyncSourceMetaEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns the source fields available on a connection for a given source configuration.
//
// Pass the model's source configuration as query parameters to resolve the
// fields that the connection will expose for that specific configuration. The
// returned fields are what can be referenced in sync field mappings.
//
// > 📘 Results depend on the source configuration you supply. A different
// > table or query in the configuration may return a completely different field
// > list.
//
// The available source configuration parameters are described by
// [`GET /api/connections/{id}/modelsync/source`](../../../../../../api-reference/model-sync/get-source).
func (c *Client) GetSourceFields(
	ctx context.Context,
	// Unique identifier of the connection.
	id string,
	request *polytomicgo.ModelSyncGetSourceFieldsRequest,
	opts ...option.RequestOption,
) (*polytomicgo.ModelFieldResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/connections/%v/modelsync/source/fields",
		id,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &polytomicgo.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ModelFieldResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Lists all model syncs in the caller's organization.
//
// Results are ordered by `updated_at` descending, with `id` used as a tiebreaker.
// If more results are available, the response includes `pagination.next_page_token`.
// Pass that token back unchanged to continue from the last item you received.
//
// The token is opaque. Do not construct or edit it yourself.
//
// The `limit` is capped at 50. Values above that cap are reduced to 50, and
// non-positive values fall back to the same default.
//
// This endpoint returns syncs visible to the current caller's organization scope.
// To inspect a specific sync in more detail, follow up with
// [`GET /api/syncs/{id}`](../../api-reference/model-sync/get).
func (c *Client) List(
	ctx context.Context,
	request *polytomicgo.ModelSyncListRequest,
	opts ...option.RequestOption,
) (*polytomicgo.ListModelSyncResponseEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := baseURL + "/api/syncs"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &polytomicgo.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ListModelSyncResponseEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Creates a new model sync.
//
// Create a new sync from one or more models to a destination.
//
// All of the functionality described in [the product
// documentation](https://docs.polytomic.com/docs/sync-destinations) is
// configurable via the API.
//
// Guides:
//
// - [Model sync (Reverse ETL) from Snowflake query to Salesforce](../../guides/code-examples/model-sync-reverse-etl-from-snowflake-query-to-salesforce)
// - [Joined model sync from Postgres, Airtable, and Stripe to Hubspot](../../guides/code-examples/joined-model-sync-from-postgres-airtable-and-stripe-to-hubspot)
//
// ## Targets (Destinations)
//
// Polytomic refers to a model sync's destination as the "target object", or
// target. Target objects are identified by a connection ID and an object ID. You
// can retrieve a list of all target objects for a connection using the [Get Target
// Objects](../../api-reference/model-sync/targets/list) endpoint.
//
// The `target` object in the request specifies information about the sync destination.
//
// ```json
//
//	"target": {
//	    "connection_id": "248df4b7-aa70-47b8-a036-33ac447e668d",
//	    "object": "Users",
//	},
//
// ```
//
// Some connections support additional configuration for targets. For example,
// [Salesforce
// connections](../../guides/configuring-your-connections/connections/salesforce#target)
// support optionally specifying the ingestion API to use. The target specific
// options are passed as `configuration`; consult the [integration
// guides](../../guides/configuring-your-connections/overview)
// for details about specific connection configurations.
//
// ### Creating a new target
//
// Some integrations support creating a new target when creating a model sync. For
// example, an ad audience or database table.
//
// When creating a new target, `object` is omitted and `create` is specified
// instead. The `create` property is an object containing integration specific
// configuration for the new target.
//
// ```json
//
//	"target": {
//	    "connection_id": "248df4b7-aa70-47b8-a036-33ac447e668d",
//	    "create": {
//	        "name": "New audience",
//	        "type": "user_audience"
//	    }
//	},
//
// ```
//
// The [Get Target List](../../api-reference/model-sync/targets/list) endpoint returns information about whether
// a connection supports target creation.
func (c *Client) Create(
	ctx context.Context,
	request *polytomicgo.CreateModelSyncRequest,
	opts ...option.RequestOption,
) (*polytomicgo.ModelSyncResponseEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := baseURL + "/api/syncs"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &polytomicgo.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &polytomicgo.UnprocessableEntityError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ModelSyncResponseEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns the schedule types available when creating or updating a model sync.
//
// Use the `type` identifiers returned by this endpoint in the `schedule` field
// when creating or updating a sync via
// [`POST /api/syncs`](../../../api-reference/model-sync/create) or [`PUT /api/syncs/{id}`](../../../api-reference/model-sync/update).
func (c *Client) GetScheduleOptions(
	ctx context.Context,
	opts ...option.RequestOption,
) (*polytomicgo.ScheduleOptionResponseEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := baseURL + "/api/syncs/schedules"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ScheduleOptionResponseEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns a single model sync by ID.
//
// To check whether a sync is currently running or has recently completed, use
// [`GET /api/syncs/{id}/status`](../../../api-reference/model-sync/get-status). For the full history of
// executions, use [`GET /api/syncs/{id}/executions`](../../../api-reference/model-sync/executions/list).
func (c *Client) Get(
	ctx context.Context,
	id string,
	opts ...option.RequestOption,
) (*polytomicgo.ModelSyncResponseEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/syncs/%v",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ModelSyncResponseEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Updates a model sync's configuration.
//
// Updating a model sync is a **full replacement** of the sync's configuration.
// Every field in the request body is written to the sync; any field you omit is
// cleared or reset to its default value.
//
// To make a partial change — for example, toggling `active` or adjusting a
// single field mapping — fetch the current sync with
// [`GET /api/syncs/{id}`](../../../api-reference/model-sync/get),
// modify the fields you want to change, and send the complete object back in
// the update request.
//
// Updates to `active`, `schedule`, and `policies` take effect immediately.
// Changes to source fields, target configuration, filters, or field mappings
// take effect on the sync's next execution.
func (c *Client) Update(
	ctx context.Context,
	id string,
	request *polytomicgo.UpdateModelSyncRequest,
	opts ...option.RequestOption,
) (*polytomicgo.ModelSyncResponseEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/syncs/%v",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &polytomicgo.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &polytomicgo.UnprocessableEntityError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ModelSyncResponseEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPut,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Deletes a model sync, cancelling any running executions.
//
// Deletion is permanent. Any running execution is cancelled before the sync
// record is removed. Deleted syncs cannot be recovered; recreate them using
// [`POST /api/syncs`](../../../api-reference/model-sync/create) if needed.
func (c *Client) Remove(
	ctx context.Context,
	id string,
	opts ...option.RequestOption,
) error {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/syncs/%v",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		409: func(apiError *core.APIError) error {
			return &polytomicgo.ConflictError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return err
	}
	return nil
}

// Sets whether a model sync is active.
//
// Only active syncs execute on schedule or in response to a manual trigger. Set
// `active` to `false` to pause a sync without deleting it.
//
// > 📘 Deactivating a sync does not cancel an execution that is already in
// > progress. Use [`POST /api/syncs/{id}/cancel`](../../../../api-reference/model-sync/cancel) to stop a
// > running execution.
func (c *Client) Activate(
	ctx context.Context,
	id string,
	request *polytomicgo.ActivateSyncInput,
	opts ...option.RequestOption,
) (*polytomicgo.ActivateSyncEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/syncs/%v/activate",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.ActivateSyncEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Requests cancellation of any running executions on a model sync.
//
// Cancellation is asynchronous. A successful response means the cancellation
// signal has been queued; the running execution continues until the signal is
// processed. Poll `GET /api/syncs/{id}/status` until the current execution
// reaches a terminal state (`completed`, `canceled`, or `failed`) to confirm
// cancellation has taken effect.
func (c *Client) Cancel(
	ctx context.Context,
	// The active execution of this sync ID will be cancelled.
	id string,
	opts ...option.RequestOption,
) (*polytomicgo.CancelModelSyncResponseEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/syncs/%v/cancel",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.CancelModelSyncResponseEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Starts a new execution of a model sync.
//
// > 🚧 Force full resync
// >
// > Use caution when setting the `resync` parameter to `true`. This will force a full resync of the data from the source system. This can be a time-consuming operation and may impact the performance of the source system. It is recommended to only use this option when necessary.
func (c *Client) Start(
	ctx context.Context,
	id string,
	request *polytomicgo.StartModelSyncRequest,
	opts ...option.RequestOption,
) (*polytomicgo.StartModelSyncResponseEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/syncs/%v/executions",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &polytomicgo.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &polytomicgo.ForbiddenError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		409: func(apiError *core.APIError) error {
			return &polytomicgo.ConflictError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.StartModelSyncResponseEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns the current status of a model sync.
//
// The response includes a summary of the most recent execution, including its
// start time, completion time, and record counts. For the complete execution
// history, use [`GET /api/syncs/{id}/executions`](../../../../api-reference/model-sync/executions/list).
func (c *Client) GetStatus(
	ctx context.Context,
	id string,
	opts ...option.RequestOption,
) (*polytomicgo.SyncStatusEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/syncs/%v/status",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &polytomicgo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.SyncStatusEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
