// Code generated by Fern. DO NOT EDIT.

package users

import (
	context "context"
	http "net/http"

	polytomic "github.com/polytomic/polytomic-go/v24"
	core "github.com/polytomic/polytomic-go/v24/core"
	internal "github.com/polytomic/polytomic-go/v24/internal"
	option "github.com/polytomic/polytomic-go/v24/option"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

func (r *RawClient) List(
	ctx context.Context,
	// Unique identifier of the organization whose users should be listed.
	orgID string,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.ListUsersEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/organizations/%v/users",
		orgID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *polytomic.ListUsersEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(polytomic.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.ListUsersEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Create(
	ctx context.Context,
	// Unique identifier of the organization the user belongs to.
	orgID string,
	request *polytomic.CreateUserRequestSchema,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.UserEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/organizations/%v/users",
		orgID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	var response *polytomic.UserEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(polytomic.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.UserEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Get(
	ctx context.Context,
	// Unique identifier of the organization the user belongs to.
	orgID string,
	// Unique identifier of the user.
	id string,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.UserEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/organizations/%v/users/%v",
		orgID,
		id,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *polytomic.UserEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(polytomic.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.UserEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Update(
	ctx context.Context,
	// Unique identifier of the organization the user belongs to.
	orgID string,
	// Unique identifier of the user to update.
	id string,
	request *polytomic.UpdateUserRequestSchema,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.UserEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/organizations/%v/users/%v",
		orgID,
		id,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	var response *polytomic.UserEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPut,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(polytomic.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.UserEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Remove(
	ctx context.Context,
	// Unique identifier of the organization the user belongs to.
	orgID string,
	// Unique identifier of the user.
	id string,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.UserEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/organizations/%v/users/%v",
		orgID,
		id,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *polytomic.UserEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(polytomic.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.UserEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) CreateAPIKey(
	ctx context.Context,
	// Unique identifier of the organization the user belongs to.
	orgID string,
	// Unique identifier of the user the key will be issued for.
	id string,
	request *polytomic.UsersCreateAPIKeyRequest,
	opts ...option.RequestOption,
) (*core.Response[*polytomic.APIKeyResponseEnvelope], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/organizations/%v/users/%v/keys",
		orgID,
		id,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *polytomic.APIKeyResponseEnvelope
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(polytomic.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*polytomic.APIKeyResponseEnvelope]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
