// This file was auto-generated by Fern from our API Definition.

package events

import (
	context "context"
	polytomicgo "github.com/polytomic/polytomic-go"
	core "github.com/polytomic/polytomic-go/core"
	internal "github.com/polytomic/polytomic-go/internal"
	option "github.com/polytomic/polytomic-go/option"
	http "net/http"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Lists audit events for the caller's organization.
//
// Results are paginated. If more events are available, the response includes
// `pagination.next_page_token`; pass that token back unchanged to continue from
// the last item you received.
//
// Filter by event type using the `event_type` query parameter. Pass one of the
// identifiers returned by [`GET /api/events_types`](../../api-reference/events/get-types) to
// narrow results to a specific category of activity.
//
// > 📘 Events reflect audit activity scoped to the caller's organization.
// > The log captures both user-initiated and API-initiated actions.
func (c *Client) List(
	ctx context.Context,
	request *polytomicgo.EventsListRequest,
	opts ...option.RequestOption,
) (*polytomicgo.EventsEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := baseURL + "/api/events"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &polytomicgo.UnprocessableEntityError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &polytomicgo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.EventsEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns the set of event type identifiers supported by GET /api/events.
//
// Use the identifiers returned here as the `event_type` filter value when calling
// [`GET /api/events`](../../api-reference/events/list).
func (c *Client) GetTypes(
	ctx context.Context,
	opts ...option.RequestOption,
) (*polytomicgo.EventTypesEnvelope, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://app.polytomic.com",
	)
	endpointURL := baseURL + "/api/events_types"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &polytomicgo.UnauthorizedError{
				APIError: apiError,
			}
		},
	}

	var response *polytomicgo.EventTypesEnvelope
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
